.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem; 
  margin: 5rem 10.625rem; 
}
.services-title {
  position: relative;
}
.services-title h1 {
  padding: 0 1.875rem; 
  font-size: 5rem; 
  font-weight: 600;
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden;    /* Hides overflowed text */
  text-overflow: ellipsis; /* Adds ellipsis (...) for overflowed text */
}
.services-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.services-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem; 
  padding: 3.75rem;
  border-radius: 0.625rem; 
  border: 0.125rem solid white;
  transition: 0.4s;
  cursor: pointer;
}
.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem; 
  margin-bottom: 5rem; 
}
.services-format h3 {
  font-size: 1.75rem; 
  font-weight: 600;
}
.services-format h2 {
  font-size: 2.375rem; 
  font-weight: 800;
  white-space: nowrap;
  background: linear-gradient(270deg, #df8908 50%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services-format p {
  color: #d4d4d4;
  font-size: 1.5rem; 
  line-height: 2.5rem; 
  max-width: 18.75rem; 
}
.services-readmore {
  display: flex;
  gap: 1.25rem; 
  align-items: center;
  margin-top: 1.25rem;
   white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden;    /* Hides overflowed text */
  text-overflow: ellipsis; /* Adds ellipsis (...) for overflowed text */
}

.services-format:hover {
  border: 0.125rem solid #ff00ff; 
  background: linear-gradient(45deg, #3f0028, #582300);
  transform: scale(1.05);
  transition: 0.4s;
}
@media(max-width:768px) {
  .services {
    align-items: start;
    gap: 4.375rem; 
    margin: 1.25rem 4.375rem; 
  }
  .services-title h1 {
    padding: 0;
    font-size: 3.125rem; 
  }
  .services-title img {
    width: 8.125rem;
    margin-right: -1.25rem;
  }
  .services-format {
    gap: 1.25rem; 
    padding: 2rem; 
  }
  .services-format h2 {
    font-size: 1.75rem; 
  }
  .services-format p {
    font-size: 1.125rem;
    line-height: 2rem;
    max-width: 18.75rem;
  }
  
  .services-readmore img {
    width: 1.25rem; 
  }
  
  .services-container {
    grid-template-columns: 1fr ; /* 1 columns */
    align-items: center;
    gap: 1.875rem; 
  }
}
@media (max-width: 480px) {
  .services {
    align-items: center;
    margin: 1.25rem 2.5rem; 
    gap: 2.5rem; 
  }
  
  .services-title h1 {
    font-size: 2.5rem; 
  }
  
  .services-title img {
    width: 6.875rem; 
  }
  
  .services-format {
    padding: 1.25rem; 
    gap: 1.25rem; 
  }
  
  .services-format h2 {
    font-size: 1rem; 
  }
  
  .services-format p {
    font-size: 0.70rem; 
    line-height: 1.5rem; 
    max-width: 100%;
  }
  
  .services-readmore img {
    width: 1rem; 
  }
  
  .services-container {
    grid-template-columns: 1fr ; /* 1 columns */
    align-items: center;
    gap: 0.875rem; 
  }
}
@media only screen and (orientation: landscape) {
  .nav-menu open{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
  }
  .services {
    margin: 1.25rem 2.5rem; 
    gap: 2.5rem; 
  }
  
  .services-title h1 {
    font-size: 2.5rem;
  }
  
  .services-title img {
    width: 6.875rem; 
  }
  
  .services-format {
    padding: 1.25rem;
    gap: 1.25rem;
  }
  
  .services-format h2 {
    font-size: 1.5rem;
  }
  
  .services-format p {
    font-size: 1rem; 
    line-height: 1.5rem; 
    max-width: 100%; 
  }
  
  .services-readmore img {
    width: 1rem; 
  }
  
  .services-container {
    grid-template-columns: 1fr 1fr; 
    gap: 1.25rem; 
  }
}