.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center; /* Center text for better alignment on all devices */
  padding: 0;
}

.hero #profile-pic {
  /* margin-top: 2rem; Space from top */
  height: 22rem;
  width: 22rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
  margin-top: -2rem;
}
.hero #banner {
  width: 40%;
  min-width:28rem;
  height: auto;
   border-radius: 4%;
  border: 2px solid #fff;
  cursor: pointer;
  /* margin-top: rem; */
  /* Animation setup */
  animation: vortexIn 0.70s ease-out forwards;
  transform: scale(0) rotate(0deg); /*inital state*/
  opacity: 0; /*initially hidden*/
}
@keyframes vortexIn {
  0% {
    transform: scale(0) rotate(720deg); /*Start from nothing*/
    opacity: 0;
  }
  25% {
    transform: scale(0.15) rotate(580deg); 
    opacity: 0.15;
  }
  50% {
    transform: scale(0.35) rotate(360deg); /*mid-point*/
    opacity: 0.35;
  }
  75% {
    transform: scale(0.70) rotate(180deg); /*mid-point*/
    opacity: 0.75;
  }
  100% {
    transform: scale(1) rotate(0deg); /*End fullsize*/
    opacity: 1;
  }
}
.hero #profile-pic:hover {
 border: 0.125rem solid #ff00ff; 
  background: linear-gradient(45deg, #3f0028, #582300);
  transform: scale(1.05);
  transition: 0.4s;
}

.hero #banner:hover {
 border: 0.125rem solid #ff00ff; 
  background: linear-gradient(45deg, #3f0028, #582300);
  transform: scale(1.05);
  transition: 0.4s;
}
.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 3rem;
  font-weight: 600;
}
.hero h1 span {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero p span {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  font-weight: 600;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero p {
  font-size: 1.25rem;
  line-height: 1.5rem;
  width: 80%; /* Adjust width for responsive design */
  margin: 0 auto;
}
.hero-action {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.hero-connect {
  padding: 1rem 1rem;
  border-radius: 50px;
  background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 100%);
  cursor: pointer;
}
.hero-resume {
  padding: 1rem 2rem;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}
.hero-connect:hover {
  border: 2px solid white;
}
.hero-resume:hover {
  border-color: #b415ff;
}
.nav-connect:hover {
  transform: scale(1.05);
}
@media (max-width: 768px) {
  .hero {
    margin-top: 0rem;
  }
  .hero #profile-pic {
    /* margin-top: 120px; */
    width: 18rem;
    height: 18rem;
  }
  .hero #banner {
    width: 60%;
    min-width: 22rem;
    height: auto;
     border-radius: 4%;
    border: 2px solid #fff;
    cursor: pointer;
    /* margin-top: rem; */
  }
  .hero h1 {
    margin-top: 0rem;
    width: 90%;
    font-size: 2.5rem;
  }
  .hero p {
    width: 60%;
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .hero-action {
    gap: 1rem;
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 3.125rem;
  }
  .hero-connect,
  .hero-resume {
    padding: 1.25rem 1.875rem; 
    border-radius: 40px;
  }
}
@media (max-width: 480px) {
  .hero {
    margin-top: 0rem;
  }
  .hero #profile-pic {
    margin-top: 0rem;
    width: 18rem;
    height: 18rem;
  }
  .hero h1 {
    margin-top: 0rem;
    width: 90%;
    font-size: 1.5rem;
  }
  .hero p {
    width: 80%;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .hero-action {
    gap: 1rem;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
  }
  .hero-connect,
  .hero-resume {
    padding: 1.25rem 1.875rem; 
    border-radius: 40px;
  }
}
@media only screen and (orientation: landscape) {
  .hero {
    margin-top: 0rem;
  }
  .hero #profile-pic {
    margin-top: 0rem;
    width: 18rem;
    height: 18rem;
  }
  .hero h1 {
    margin-top: 0rem;
    width: 90%;
    font-size: 1.5rem;
  }
  .hero p {
    width: 80%;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .hero-action {
    gap: 1rem;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
  }
  .hero-connect,
  .hero-resume {
    padding: 1.25rem 1.875rem; 
    border-radius: 40px;
  }
}