.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center; /* Center text for better alignment on all devices */
  padding: 0;
}

.hero #profile-pic {
  /* margin-top: 2rem; Space from top */
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  border: 2px solid black;
  cursor: pointer;
  margin-top: -2rem;
}
/* .hero #banner {
  width: 40%;
  min-width:28rem;
  height: auto;
   border-radius: 4%;
  border: 2px solid #fff;
  cursor: pointer;
  /* margin-top: rem; */
  /* Animation setup 
  animation: vortexIn 0.70s ease-out forwards;
  transform: scale(0) rotate(0deg); 
  opacity: 0; */
/* @keyframes vortexIn {
  0% {
    transform: scale(0) rotate(720deg); 
    opacity: 0;
  }
  25% {
    transform: scale(0.15) rotate(580deg); 
    opacity: 0.15;
  }
  50% {
    transform: scale(0.35) rotate(360deg);
    opacity: 0.35;
  }
  75% {
    transform: scale(0.70) rotate(180deg); 
    opacity: 0.75;
  }
  100% {
    transform: scale(1) rotate(0deg); 
    opacity: 1;
  }
} */
.hero #profile-pic:hover {
 border: 0.125rem solid #0051ff; 
  background: linear-gradient(45deg, #0051ff, #0041ff);
  transform: scale(1.05);
  transition: 0.4s;
}

/* .hero #banner:hover {
 border: 0.125rem solid #0051ff; 
  background: linear-gradient(45deg, #0051ff, #009fff);
  transform: scale(1.05);
  transition: 0.4s;
} */
/* 0051ff */
/* 009fff */
@keyframes growAndRotateText {
  0% {
    opacity: 0;
    transform: translate3d(0px, 0px, 0px) scale3d(0.2, 0.2, 0.2) rotateX(45deg) rotateY(45deg) rotateZ(0deg);
    transform-style: preserve-3d;
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform-style: preserve-3d;
  }
}
.hero h1 {
  text-align: center;
  width: 70%;
  font-size: 3rem;
  font-weight: 600;
  font-size: xx-large;
  display: inline-block;
  opacity: 0; /* Start with 0 opacity */
  transform: scale3d(0.5, 0.5, 0.5); /* Start with a smaller scale */
  animation: growAndRotateText 0.3s ease-out forwards;
  animation-fill-mode: forwards;
  animation-delay: 0.23s;
}
.hero h1 span {
  background: linear-gradient(270deg, #0051ff 10%, #0071ff 100%);
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size:xx-large;
}
.hero p span {
  background: linear-gradient(270deg, #0051ff 10%, #0071ff 100%);
  background-clip: text;
  font-weight: 900;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero p {
  font-size: 1.25rem;
  line-height: 1.5rem;
  width: 80%; /* Adjust width for responsive design */
  margin: 0 auto;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5) rotateX(30deg) rotateY(30deg);
  animation: growAndRotateText 0.5s ease-out forwards;
  animation-fill-mode: forwards;
  animation-delay: 0.33s; /* Slightly later than h1 */
}
.hero-action {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.hero-connect {
  padding: 1rem 1rem;
  border-radius: 50px;
  background-color: #0051ff;
  cursor: pointer;
  color: white;
}
.hero-resume {
  padding: 1rem 2rem;
  border-radius: 50px;
  color: white;
  /* border: 2px solid #fff; */
  cursor: pointer;
}
/* .hero-connect:hover {
  border: 2px solid white;
} */

.hero-connect:hover {
  transform: scale(1.05);
}
.resume-link:hover {
  transform: scale(1.05);
}
.resume-link {
  display: inline-block;
  padding: 1.25rem 1.875rem;
  background-color: #0051ff; 
  color: white;
  text-decoration: none;
  border-radius: 40px;
  font-size: 16px;
}
.hero-connect .anchor-link {
  text-decoration: none;
  color: white;
}
@media (max-width: 768px) {
  .hero {
    margin-top: 0rem;
  }
  .hero #profile-pic {
    /* margin-top: 120px; */
    width: 12rem;
    height: 12rem;
  }
  /* .hero #banner {
    width: 60%;
    min-width: 22rem;
    height: auto;
     border-radius: 4%;
    border: 2px solid #fff;
    cursor: pointer;
    margin-top: rem;
  } */
  .hero h1 {
    margin-top: 0rem;
    width: 90%;
    font-size: 2.5rem;
  }
  .hero p {
    width: 60%;
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .hero-action {
    gap: 1rem;
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 3.125rem;
  }
  .hero-connect,
  .hero-resume {
    padding: 1.25rem 1.875rem; 
    border-radius: 40px;
  }
}
@media (max-width: 480px) {
  .hero {
    margin-top: 0rem;
  }
  .hero #profile-pic {
    margin-top: 0rem;
    width: 12rem;
    height: 12rem;
  }
  .hero h1 {
    margin-top: 0rem;
    width: 90%;
    font-size: 1.5rem;
  }
  .hero p {
    width: 80%;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .hero-action {
    gap: 1rem;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
  }
  .hero-connect,
  .hero-resume {
    padding: 1.25rem 1.875rem; 
    border-radius: 40px;
  }
}
@media only screen and (orientation: landscape) {
  .hero {
    margin-top: 0rem;
  }
  .hero #profile-pic {
    margin-top: 0rem;
    width: 12rem;
    height: 12rem;
  }
  .hero h1 {
    margin-top: 0rem;
    width: 90%;
    font-size: 1.5rem;
  }
  .hero p {
    width: 80%;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
  .hero-action {
    gap: 1rem;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
  }
  .hero-connect,
  .hero-resume {
    padding: 1.25rem 1.875rem; 
    border-radius: 40px;
  }
}