.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 5rem 10.625rem;
}
.mywork-title {
  position: relative;
}
.mywork-title h1 {
  padding: 0 1.875rem;
  font-size: 5rem;
  font-weight: 600;
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides overflowed text */
  text-overflow: ellipsis; /* Adds ellipsis (...) for overflowed text */
}
.mywork-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.mywork-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
  margin-bottom: 5rem;
  justify-items: center;
  position: relative;
}

.image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-wrapper:hover img {
  transform: scale(1.1);
  border: 0.25rem solid #0051ff;
  border-radius: 0.625rem;
  transition: 0.3s;
}
.mywork-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 1rem;
}
.image-wrapper:hover .overlay {
  opacity: 1;
}

.overlay-button {
  background: #05128ae3;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  margin: 0.5rem;
}

.overlay-button:hover {
  background: #0051ff;
}
.overlay-button:hover {
  background: #0091ff;
}

.netlify-button {
  background: #1e00ff; /* Netlify blue */
}

.netlify-button:hover {
  background: #0091ff; /* Darker Netlify blue */
}
.mywork-container img {
  box-sizing: border-box;
  width: 26.1875rem;
  height: 17.5rem;
  transition: 0.3s;
  cursor: pointer;
}

.mywork-container img:hover {
  transform: scale(1.1);
  border: 0.25rem solid #0051ff;
  border-radius: 0.625rem;
  transition: 0.3s;
}
.mywork-showmore {
  display: flex;
  align-items: center; /* Align items vertically in the center */
  gap: 0.9375rem;
  border-radius: 3.125rem;
  border: 0.125rem solid white;
  padding: 1.875rem 3.75rem;
  font-size: 1.375rem;
  font-weight: 500;
  margin-bottom: 5rem;
  transition: 0.6s;
  cursor: pointer;
}
.mywork-showmore:hover {
  gap: 3.125rem; /* 50px */
  margin: 3.125rem 4.375rem; /* 50px 70px */
  transition: 0.6s;
}
.slide-in-left {
  opacity: 0;
  transform: translateX(-50px); /* Start off to the left */
  transition: opacity 0.5s ease-out, transform 0.3s ease-out;
}

.slide-in-left.visible {
  opacity: 1;
  transform: translateX(0); /* Slide into place */
}
@media (max-width: 768px) {
  .mywork {
    gap: 50px;
    margin: 50px 70px;
    align-items: start;
  }
  .mywork-title h1 {
    padding: 0;
    font-size: 3.125rem;
    font-weight: 600;
  }
  .mywork-title img {
    width: 8.125rem;
    margin-right: -1.25rem;
  }
  .mywork-container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(200px, 1fr)
    ); /* Adjust column count dynamically */
    grid-template-columns: 1fr 1fr;
    gap: 1.875rem;
  }
  .mywork-container img {
    width: 100%;
    height: auto;
  }
  .mywork-showmore {
    padding: 1.25rem 2.5rem;
    font-size: 1.125rem;
    margin: 3.125rem auto;
    cursor: pointer;
  }
}
@media (max-width: 480px) {
  .mywork {
    margin: 1.25rem 2.5rem;
    gap: 1.875rem;
  }

  .mywork-title h1 {
    font-size: 2.25rem;
  }

  .mywork-title img {
    width: 7.875rem;
  }

  .mywork-showmore {
    padding: 1.25rem 2.5rem;
    font-size: 1.125rem;
  }
  .mywork-container {
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr)); /* Adjust column count dynamically */
    /* grid-template-columns: 1fr; */
    gap: 0.875rem;
  }
}
@media only screen and (orientation: landscape) {
  .mywork {
    margin: 50px 70px;
    gap: 50px;
  }
  .mywork-title h1 {
    font-size: 2.5rem;
  }
  .mywork-title img {
    width: 6.875rem; 
  }
  .mywork-container {
    gap: 1.875rem;
  }
  .mywork-container img {
    width: 100%;
    height: auto;
  }
  .mywork-showmore {
    padding: 1.25rem 2.5rem;
    font-size: 1.125rem;
    margin: 3.125rem auto;
    cursor: pointer;
  }
}
