.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 5rem 10.625rem;
}
.about-title {
  position: relative;
}
.about-title h1 {
  padding: 0 1.875rem;
  font-size: 5rem;
  font-weight: 600;
  white-space: nowrap; /* Prevents text from wrapping */
  overflow: hidden; /* Hides overflowed text */
  text-overflow: ellipsis; /* Adds ellipsis (...) for overflowed text */
}
.about-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.about-sections {
  display: flex;
  gap: 5rem;
}
.about-right {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.about-para {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0.75rem;
  border-radius: 0.625rem;
  border: 0.125rem solid black;
}
.about-para p {
 margin: 0.35rem;
}
.about-para:hover,
.tech-stack-section:hover {
  border: 0.125rem solid black;
  background:#0041ff;
  transform: scale(1.05);
  transition: 0.4s;
  color: white;
}
.about-skills {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.about-skill {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  transition: 0.3s;
  gap: 1.5rem;
  font-weight: 500;
}
.about-skill p {
  min-width: 7.375rem;
}
.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 0.5rem;
  border-radius: 0.5rem;
  background: linear-gradient(264deg, #0051ff -5.09%, #0041ff 106.28%);
}
/* .about-achievements {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 5rem;
}
.about-achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  transition: 0.5s;
}
.about-achievement h1 {
  font-size: 3.75rem;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 50.41%, #b415ff 90.25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-achievement p {
  font-size: 1.375rem;
  font-weight: 500;
} */
.about-skill:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
/* .about-achievement:hover {
  transform: scale(1.2);
  transition: 0.5s;
} */
.about-tech-stacks-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.about-tech-stacks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow wrapping for responsiveness */
  margin: 1rem;
  gap: 2.75rem;
  padding: 0.5rem;
}

.tech-stack-section {
  padding: 0.5rem;
  border-radius: 1rem;
  gap: 1.25rem;
  border-radius: 0.625rem;
  border: 0.125rem solid black;
}

.tech-stack-section:hover {
  border: 0.125rem solid #0051ff;
  background: linear-gradient(45deg, #0051ff, #0091ff);
  transform: scale(1.05);
  transition: 0.4s;
}
.tech-stack-section {
  opacity: 0;
  transform: translateY(100px) scale(0.9);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.tech-stack-section.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.tech-stack-section h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 800;
  color: black;
}
.tech-stack-section h2:hover {
  transform: scale(1.15);
  transition: 0.3s;
  color: black;
}

.tech-stack-section ul {
  list-style: none;
  padding: 0;
}

.tech-stack-section ul li {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .about {
    gap: 1.875rem;
    margin: 2rem;
    align-items: start;
  }
  .about-title h1 {
    font-size: 3.125rem;
    padding: 0;
  }
  .about-title img {
    width: 8.125rem;
    right: -1.25rem;
  }
  .about-sections {
    flex-direction: column;
  }
  .about-left {
    display: none;
  }
  .about-para {
    font-size: 1.125rem;
    line-height: 2rem;
  }
  .about-skill {
    gap: 1.15rem;
    align-items: center;
  }
  .about-skill p {
    font-size: 1.25rem;
    min-width: 8rem;
  }
  .about-skill hr {
    height: 0.375rem;
  }
  .about-tech-stacks {
    padding: 1rem;
  }

  .tech-stack-section h2 {
    font-size: 1.25rem;
  }

  .tech-stack-section ul li {
    font-size: 1rem;
  }
  /* .about-achievements {
    justify-content: space-between;
  }
  .about-achievement {
    gap: 0.625rem;
  }
  .about-achievement h1 {
    font-size: 2.125rem;
    font-weight: 700;
  }
  .about-achievement p {
    text-align: center;
    font-size: 1rem;
  } */
}
@media (max-width: 480px) {
  .about {
    margin: 1.5rem;
  }

  .about-title h1 {
    font-size: 2.25rem;
  }

  .about-title img {
    width: 7.875rem;
  }

  .about-para {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .about-skill {
    gap: 0.15rem;
  }

  .about-skill p {
    font-size: 0.85rem;
    min-width: 6rem;
  }
  .about-skill hr {
    height: 0.35rem;
    width: 0.5rem;
  }
  .about-tech-stacks-container {
    margin: 0 auto; /* Centers the container */
    padding: 0.25rem; /* Add some padding */
    max-width: 100%; /* Ensure it doesn't exceed the viewport width */
    /* overflow-x: hidden; Prevent horizontal scrolling */
  }

  .about-tech-stacks {
    gap: 1rem; /* Adjust gap for mobile */
    padding: 0.25rem; /* Reduce padding to fit mobile */
    margin: 0.25rem;
  }
  .about-tech-stacks h2{
  font-size: 1rem;
  }
  .about-tech-stacks ul li{
  font-size: 0.8rem;
  }

  .tech-stack-section {
    width: 100%; /* Ensure each section takes up the full width */
    box-sizing: border-box; /* Prevent any overflow caused by padding */
    margin: 0.015rem;
  }
  /* .about-achievement h1 {
    font-size: 1.75rem;
  }

  .about-achievement p {
    font-size: 0.875rem;
  }*/
}
#jun-about {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  border: 2px solid #fff;
  cursor: pointer;
}
#jun-about:hover {
  border-color: #0051ff;
}
@media only screen and (orientation: landscape) {
  .about {
    margin: 2.5rem 3.125rem;
  }

  .about-title h1 {
    font-size: 2.5rem;
  }

  .about-title img {
    width: 6.875rem;
    right: -1.875rem;
  }

  .about-para {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .about-skill {
    gap: 0.15rem;
    align-items: center;
  }

  .about-skill p {
    font-size: 0.85rem;
    min-width: 6rem;
  }
  .about-skill hr {
    height: 0.35rem;
    width: 0.5rem;
  }

  /* .about-achievement h1 {
    font-size: 1.75rem;
  }

  .about-achievement p {
    font-size: 0.875rem;
  } */
}
